.backdrop{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vw;
  background: rgba(0,0,0,0.76);
  z-index: 55;
}

.alert-box{
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: whitesmoke;
  box-shadow: tan;
}

.alert-box-actions{
  text-align: right;
}
